<a href="https://colab.research.google.com/github/Harshit11072000/CHECK/blob/master/MiningDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
d = pd.read_excel("DataSet.xlsx",sheet_name='Raw')

In [ ]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8043 entries, 0 to 8042
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   String             8043 non-null   object
 1   Site ID            8043 non-null   int64
 2   Tipper Device ID   8043 non-null   int64
 3   Date Time          8043 non-null   int64
 4   Latitude           8043 non-null   float64
 5   Longitude          8043 non-null   float64
 6   Altitude           8043 non-null   int64
 7   Speed              8043 non-null   int64
 8   Exc Dev ID         8043 non-null   int64
 9   RFID               8043 non-null   int64
 10  No. of Satellites  8043 non-null   int64
 11  Date Time.1        8043 non-null   int64
 12  IOs                8043 non-null   int64
 13  Time               8043 non-null   datetime64[ns]
 14  Address            8043 non-null   int64
 15  Activity state     394 non-null    object
 16  Previous State     8043 non-null   object
 17  Activity State     8043 non-null   object
 18  Trip No            282 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(11), object(4)
memory usage: 1.2+ MB

In [ ]:
a = input('Enter the String:')

Enter the String:010a5c37e4220e6227c53152ea4c017e00014b00007091180ac700000053d7e0

In [ ]:
DT = a[4:12]
LT = a[12:20]
LG = a[20:28]
AT = a[28:32]
SD = a[32:34]
EI = a[39:41]
RF = a[40:48]
BI = a[50:52]

In [ ]:
print(DT,LT,LG,AT,SD,EI,RF,BI)

5c37e422 0e6227c5 3152ea4c 017e 00 00 00709118 c7

In [ ]:
DT = int(DT,16)+19800
LT = int(LT,16)/10000000
LG = int(LG,16)/10000000
AT = int(AT,16)
SD = int(SD,16)
EI = int(EI,16)
RF = int(RF,16)

In [ ]:
n = int(BI, 16)  
bStr = '' 
while n > 0: 
    bStr = str(n % 2) + bStr 
    n = n >> 1    
BI = bStr

In [ ]:
print(DT,LT,LG,AT,SD,EI,RF,BI)

1547186554 24.1313733 82.7517516 382 0 0 7377176 11000111

In [ ]:
df1 = pd.DataFrame(
    {
        "String" : a,
        "Date Time" : DT,
        "Latitude" : LT,
        "Longitude" : LG,
        "Altitude" : AT,
        "Speed" : SD,
        "Exc Dev ID" : EI,
        "RFID" : RF,
        "IOs" : BI  
    },
    index = [0],
)

In [ ]:
df1

                                              String  ...       IOs
0  010a5c37e4220e6227c53152ea4c017e00014b00007091...  ...  11000111

[1 rows x 9 columns]

In [ ]:
single = [d,df1]

In [ ]:
d1 = pd.concat(single)

In [ ]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8044 entries, 0 to 0
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   String             8044 non-null   object
 1   Site ID            8043 non-null   float64
 2   Tipper Device ID   8043 non-null   float64
 3   Date Time          8044 non-null   int64
 4   Latitude           8044 non-null   float64
 5   Longitude          8044 non-null   float64
 6   Altitude           8044 non-null   int64
 7   Speed              8044 non-null   int64
 8   Exc Dev ID         8044 non-null   int64
 9   RFID               8044 non-null   int64
 10  No. of Satellites  8043 non-null   float64
 11  Date Time.1        8043 non-null   float64
 12  IOs                8044 non-null   object
 13  Time               8043 non-null   datetime64[ns]
 14  Address            8043 non-null   float64
 15  Activity state     394 non-null    object
 16  Previous State     8043 non-null   object
 17  Activity State     8043 non-null   object
 18  Trip No            282 non-null    float64
dtypes: datetime64[ns](1), float64(8), int64(5), object(5)
memory usage: 1.2+ MB

In [ ]:
d1.drop(['String','Activity state'],axis=1)

      Site ID  Tipper Device ID  ...  Activity State  Trip No
0           1                10  ...              TL      NaN
1           1                10  ...              TL      NaN
2           1                10  ...              UL    365.0
3           1                10  ...              UL      NaN
4           1                10  ...              UL      NaN
...       ...               ...  ...             ...      ...
8038        1                10  ...              TE      NaN
8039        1                10  ...              TE      NaN
8040        1                10  ...              TE      NaN
8041        1                10  ...              TE      NaN
8042        1                10  ...              WL    417.0

[8043 rows x 17 columns]

In [ ]:
d1['RFID'].value_counts()

7377176    5920
7872707    2123
Name: RFID, dtype: int64

In [ ]:
d2 = d1[['Longitude','Speed','Exc Dev ID','IOs','Previous State','Activity State','Address','No. of Satellites']]

In [ ]:
d2['Previous State'].value_counts()

LD    2864
TL    1961
TE    1219
WL     604
WT     379
UL     332
MN     330
SE     174
SL     105
WD      71
Ul       4
Name: Previous State, dtype: int64

In [ ]:
d2['IOs'] = d2['IOs']/1000000
d2['IOs'] = d2['IOs'].astype('int')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df = d2

In [ ]:
"""def haversine(lat1, lon1, lat2, lon2, to_radians=True, earth_radius=6371):
   
    if to_radians:
        lat1 = np.radians(lat1)
        lat2 = np.radians(lat2)
        lon1 = np.radians(lon1)
        lon2 = np.radians(lon2)

    a = np.sin((lat2-lat1)/2.0)**2 + \
        np.cos(lat1) * np.cos(lat2) * np.sin((lon2-lon1)/2.0)**2

    return earth_radius * 2 * np.arcsin(np.sqrt(a))


df['dist'] = \
    haversine(df.Latitude.shift(), df.Longitude.shift(),
                df.loc[1:, 'Latitude'], df.loc[1:, 'Longitude'])"""

"def haversine(lat1, lon1, lat2, lon2, to_radians=True, earth_radius=6371):\n   \n    if to_radians:\n        lat1 = np.radians(lat1)\n        lat2 = np.radians(lat2)\n        lon1 = np.radians(lon1)\n        lon2 = np.radians(lon2)\n\n    a = np.sin((lat2-lat1)/2.0)**2 +         np.cos(lat1) * np.cos(lat2) * np.sin((lon2-lon1)/2.0)**2\n\n    return earth_radius * 2 * np.arcsin(np.sqrt(a))\n\n\ndf['dist'] =     haversine(df.Latitude.shift(), df.Longitude.shift(),\n                df.loc[1:, 'Latitude'], df.loc[1:, 'Longitude'])"

In [ ]:
df

      Longitude  Speed  Exc Dev ID  ...  Activity State Address No. of Satellites
0     82.751752      0           0  ...              TL      63                10
1     82.751752      0           0  ...              TL      65                10
2     82.751752      0           0  ...              UL      67                10
3     82.751752      0           0  ...              UL      69                10
4     82.751752      0           0  ...              UL      71                 9
...         ...    ...         ...  ...             ...     ...               ...
8038  82.757307     20           0  ...              TE      40                11
8039  82.757113     18           0  ...              TE      42                11
8040  82.756353     20           0  ...              TE      44                12
8041  82.755627      9           0  ...              TE      46                12
8042  82.755575      0           0  ...              WL      48                11

[8043 rows x 8 columns]

In [ ]:
df.loc[df['Activity State']=='LD','Activity State']=1
df.loc[df['Activity State']=='TL','Activity State']=2
df.loc[df['Activity State']=='TE','Activity State']=3
df.loc[df['Activity State']=='WL','Activity State']=4
df.loc[df['Activity State']=='WT','Activity State']=5
df.loc[df['Activity State']=='UL','Activity State']=6
df.loc[df['Activity State']=='MN','Activity State']=7
df.loc[df['Activity State']=='SE','Activity State']=8
df.loc[df['Activity State']=='SL','Activity State']=9
df.loc[df['Activity State']=='WD','Activity State']=10
df.loc[df['Activity State']=='Ul','Activity State']=11

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [ ]:
df.loc[df['Previous State']=='LD','Previous State']=1
df.loc[df['Previous State']=='TL','Previous State']=2
df.loc[df['Previous State']=='TE','Previous State']=3
df.loc[df['Previous State']=='WL','Previous State']=4
df.loc[df['Previous State']=='WT','Previous State']=5
df.loc[df['Previous State']=='UL','Previous State']=6
df.loc[df['Previous State']=='MN','Previous State']=7
df.loc[df['Previous State']=='SE','Previous State']=8
df.loc[df['Previous State']=='SL','Previous State']=9
df.loc[df['Previous State']=='WD','Previous State']=10
df.loc[df['Previous State']=='Ul','Previous State']=11

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [ ]:
df['Activity State'] = df['Activity State'].astype('int')
df['Previous State'] = df['Previous State'].astype('int')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df.corr()

                   Longitude     Speed  ...   Address  No. of Satellites
Longitude           1.000000  0.462379  ... -0.006971          -0.341909
Speed               0.462379  1.000000  ... -0.020621          -0.324702
Exc Dev ID         -0.332796 -0.307653  ...  0.019947           0.589735
IOs                -0.188669  0.216451  ... -0.001589           0.228215
Previous State      0.404673 -0.043402  ... -0.000396          -0.179294
Activity State      0.408576 -0.043263  ... -0.002222          -0.180655
Address            -0.006971 -0.020621  ...  1.000000           0.005559
No. of Satellites  -0.341909 -0.324702  ...  0.005559           1.000000

[8 rows x 8 columns]

In [ ]:
df = df.drop('Address',axis=1)

In [ ]:
#y = pd.get_dummies(df['Activity State'])
y = df['Activity State']

In [ ]:
df['Ignite'] =  df['IOs']/10
df['Hoist'] = df['IOs']%10
df['Ignite'] = df['Ignite'].astype('int')

In [ ]:
df = df.drop(['Activity State','IOs'],axis=1)

In [ ]:
df.corr()

                   Longitude     Speed  ...    Ignite     Hoist
Longitude           1.000000  0.462379  ... -0.182472 -0.214425
Speed               0.462379  1.000000  ...  0.208938  0.249523
Exc Dev ID         -0.332796 -0.307653  ...  0.165914  0.198142
Previous State      0.404673 -0.043402  ... -0.358700 -0.421794
No. of Satellites  -0.341909 -0.324702  ...  0.221995  0.248228
Ignite             -0.182472  0.208938  ...  1.000000  0.833758
Hoist              -0.214425  0.249523  ...  0.833758  1.000000

[7 rows x 7 columns]

In [ ]:
#df = df.drop('Longitude',axis=1)

In [ ]:
X = df.iloc[:,:].values

In [ ]:
y = y.astype('int')

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size = 0.2)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
lr = RandomForestClassifier()
lr.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
from sklearn.metrics import accuracy_score
ac = accuracy_score(Y_test,lr.predict(X_test))
ac1 = accuracy_score(Y_train,lr.predict(X_train))

In [ ]:
print(ac*100)
print(ac1*100)

96.95463020509634
99.42493005906124